# Web framework
Flask
Flask-Cors
flask-session

# API + Swagger
connexion[flask]==2.14.2
swagger-ui-bundle
six

# Database
SQLAlchemy
sqlacodegen
pymongo
pyodbc

# Utils
requests
urllib3
charset-normalizer
idna
certifi

# Serialization / Encoding
marshmallow
msgpack

# Security & Auth
cryptography
cffi
pycparser

# Async / Threading
gevent
greenlet

# Logging / Config
python-dotenv
PyYAML

ccxt
telebot
bcrypt
decorator
protobuf
